:root {
  --font-normal: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy, monospace;
  --font-weight-heading: 700;
  --font-weight-regular: 400;
  --color-background_color: #fff;
  --color-accent_color: #000;
  --color-heart_color: #ff0000;
  --color-text_button_color: #fff;
  --size-content_inline: clamp(320px, 700px, 100%);
  --size-button_icon_size: clamp(1.313rem, 1.9039rem + -0.6565vw, 1.75rem);
  --background-page: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);
}
